<section id="about-us" class="py-lg-5 position-relative">
    <div class="middle-yellow-band bg-warning"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-bg-dark mb-3">
                            <div class="card-header">
                                <img class="w-100 mb-3" src="/assets/about-image.jpg" />
                            </div>
                            <div class="card-body text-center">
                                <h2 class="h4 mb-3">1. Download Metamask</h2>
                                <p class="">Since this app uses blockchain, you will need to have a Metamask wallet and the Metamask chrome extension installed.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://metamask.io/download/" class="text-warning">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pt-lg-5"></div>
                        <div class="pt-lg-5"></div>
                        <div class="card text-bg-dark mb-3">
                            <div class="card-header">
                                <img class="w-100 mb-3" src="/assets/about-image.jpg" />
                            </div>
                            <div class="card-body text-center">
                                <h2 class="h4 mb-3">2. Create an account</h2>
                                <p class="">Create an account and add some Sepolia Ether into your wallet, you will need it later for payments.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/signup" class="text-warning">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pt-lg-5"></div>
                        <div class="pt-lg-5"></div>
                        <div class="pt-lg-5"></div>
                        <div class="pt-lg-5"></div>
                        <div class="card text-bg-dark mb-3">
                            <div class="card-header">
                                <img class="w-100 mb-3" src="/assets/about-image.jpg" />
                            </div>
                            <div class="card-body text-center">
                                <h2 class="h4 mb-3">3. Enjoy</h2>
                                <p class="">Add your first article or take some skill tests to get started with reviewing. Best of luck!</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/" class="text-warning">Browse articles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>