
<section class="bg-secondary py-lg-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4 fst-italic">Add an article</h1>
        <hr class="hero-divider" />
        <div class="h3 fw-normal">In exchange for the reviews you will be receiving, we ask you to pay 0.1 ethereum for
          every added article. Upload a PDF of your article, prepare a short description for it and decide on the most
          important skills that a reviewer must have to review your paper. After that, you're all set.</div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form id="add-article-form" action="/add-article" method="POST" enctype="multipart/form-data">
          <!-- <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" required placeholder="Title">
            <label for="title">Title</label>
          </div> -->
          <div class="mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title of the article" required>
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"
              placeholder="Description/Abstract of the article" required></textarea>
          </div>
          <div class="mb-3">
            <label for="authors">Coauthors</label>
            <input type="text" class="form-control" id="authors" name="authors"
              placeholder="Second author, third author, ...">
          </div>
          <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <select id="tags" name="tags[]" multiple>
              <option value=""></option>
              <% for (let i in tagLevels){ %>
                <option value="<%=tagLevels[i].first + " : " + tagLevels[i].second %>">
                  <%=tagLevels[i].first + " - " + tagLevels[i].second %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label for="file" class="form-label">Article File</label>
            <input type="file" class="form-control" id="file" name="file" accept=".pdf" required>
          </div>
          <button type="submit" class="btn btn-warning">Add Article</button>
        </form>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css"
  integrity="sha512-Ars0BmSwpsUJnWMw+KoUKGKunT7+T8NGK0ORRKj+HT8naZzLSIQoOSIIM3oyaJljgLxFi0xImI5oZkAWEFARSA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="/js/selectize.js"></script> 