<form action="/inserare-produs" method="post">
    <label for="name"><b>Nume Produs</b></label>
    <input type="text" id="name" name="name">
    <label for="price"><b>Pret<b></label>
    <input type="text" id="price" name="price"><br />
    <input type="submit" value="Insereaza">
</form>