<form action="/inserare-produs" method="post">
    <label for="name">Nume Produs:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="price">Pret:</label><br>
    <input type="text" id="price" name="price"><br>
    <input type="submit" value="Insereaza">
</form>