<section id="particles-js" class="bg-secondary py-lg-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4 fst-italic">Complete payment</h1>
        <hr class="hero-divider" />
        <h2 class="fst-italic">Please sign the metamask transaction!</h2>
        <input type="hidden" id="articleId" value="<%=articleId %>">
      </div>
    </div>
  </div>
</section>
<!-- <script src="https://cdn.jsdelivr.net/npm/web3@1.6.0/dist/web3.min.js"></script> -->
<!-- <script src="node_modules/@metamask/onboarding/dist/metamask-onboarding.bundle.js" defer></script>
<script src="./metamask-onboarding.bundle.js"></script>
<script src="./node_modules/@metamask/onboarding/dist/metamask-onboarding.bundle.js"></script>
<script src="dist/metamask-onboarding.bundle.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@metamask/onboarding@1.0.1/dist/metamask-onboarding.bundle.min.js"></script>
<script type="module" src="/js/articlePayment.js" defer></script>


