<div>
    <h1>Login</h1>
    <form action="/verificare-autentificare" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required disabled>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required disabled><br>
        <input type="submit" disabled="disabled" value="Login" >
    </form>
    <p>
        <p style="color:red;">Prea multe incercari de autentificare nereusite! Va rugam asteptati!</p>
    </p>
</div>