<div>
    <h1>Autentificare</h1>
    <form action="/verificare-autentificare" method="post">
        <label for="username"><b>Nume utilizator:</b></label>
        <input type="text" placeholder="Enter Username" name="username" required disabled>
    
        <label for="password"><b>Parolă:</b></label>
        <input type="password" placeholder="Enter Password" name="password" required disabled><br>
        <input type="submit" disabled="disabled" value="Autentificare" >
    </form>
    <p>
        <p style="color:red;">Prea multe încercări de autentificare nereușite! Vă rugăm așteptați!</p>
    </p>
</div>