<section class="bg-secondary py-lg-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4 fst-italic">Earn a badge</h1>
                <hr class="hero-divider" />
                <h2 class="fst-italic">To be eligible to review an article, you must demonstrate expertise in the topics covered by the article. 
                    This involves earning a badge for each article tag that corresponds to your level of proficiency, as specified by the author.
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="py-lg-5">
    <div class="container">
        <div class="row">
            <% for (let tag of tags){ %>
            <div class="col-lg-3">
                <div class="badge badge-particle bg-dark" id="badge-<%=tag.id %>">
                    <span class="badge-text">
                        <i class="bi bi-newspaper article-thumbnail text-warning"></i>
                        <span class="badge-title mb-3 mt-2"><%=tag.name %></span>
                        <a href="/test/<%=tag.id %>" class="stretched-link text-warning">Start test</a>
                    </span>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
<script src="js/loadParticlesForBadges.js"></script>