<section id="success-page" class="py-lg-5 full-height-section d-flex justify-content-center align-items-center">
    <div class="card shadow">
        <div class="card-body text-center">
            <i class="bi bi-exclamation-circle-fill big-icon mb-4 text-danger"></i>
            <h2 class="mb-4">404</h2>
            <p>Sorry, this page does not exist!</p>
        </div>
        <!-- <div class="card-footer text-center">
            <a href="#" class="btn btn-warning">Please proceed!</a>
        </div> -->
    </div>
</section>