<!DOCTYPE html>
<html>
    <head>
        <title>Alimente BIO</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head> 
        <header>
            <ul>
              <li>
                <a href="/">Acasa</a>
              </li>
              <li>
                <a href="/chestionar">Chestionar</a>
              </li>
              <li>
                <a href="/cauta-produs">Cauta produs</a>
              </li>
            </ul>
        </header>
        <main><%- body %></main>
        <footer>
            <hr>
          <p>
            © Bărbuță Delia Elena, 1307A
          </p>
        </footer>
</html>