<!DOCTYPE html>
<html>
    <head>
        <title>Alimente BIO</title>
    </head>
        <main><%- body %></main>
        <footer>
            <hr>
          <p>
            © Bărbuță Delia Elena, 1307A
          </p>
        </footer>
</html>