<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4 fst-italic">My Badges</h1>
                <hr class="hero-divider" />
            </div>
          </div>

        <div class="row g-3 mb-4" id="nfts">
            <template id="nft_template">
                <div class="col-lg-3">
                    <div class="card shadow-sm">
                        <image class="p-5" src="" width="100%" height="100%" />
                        <div class="card-body">
                            <h5 class="card-title" id="title">NFT Title</h5>
                            <p class="card-text" id="description"></p>
                            <!-- OpenSea does not support sepolia -->
                            <!-- <div class="d-flex justify-content-end align-items-center"> -->
                                <!-- <small class="text-muted">9 mins</small> -->
                                <!-- <div class="btn-group">
                                    <a href="" class="btn btn-sm btn-outline-secondary" id="view-opensea">View in OpenSea</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </template>
            <input type="hidden" id="metamaskAddress" value="<%=metamaskAddress %>">
        </div>
            <div class="row justify-content-center" id="alert-nfts" hidden>
                <div class="card shadow col-lg-6">
                <div class="card-body text-center ">
                    <i class="bi bi-exclamation-circle-fill big-icon mb-4 text-warning"></i>
                    <h2 class="mb-4">Sorry!</h2>
                    <p>Looks like you haven't earned any badges yet! Take a test to demonstrate your skills!</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/badges" class="btn btn-warning">Get a badge</a>
                </div>
                </div>
            </div>
    </div>
</div>
<script type="module" src="/js/getNFTs.js" defer></script>