<% if(productArray == null){ %>
    <p>Nu ati adaugat nimic in cos!</p>
<%} else { 
    for(let i in productArray) {%>
        <p><%= productArray[i].nume_produs %>, <%= productArray[i].pret %>, cantitate:  <%= numberOfProducts[productArray[i].id_produs - 1]%></p>
<% } 
    }%>

