body {
  min-height: 100vh;
  padding-bottom: 56px;
}
/* header */
#header-logo{
  max-width: 50px;
}
#alert-container-map{
  top: 15px;
  right: 15px;
  z-index: 1;
}
header .nav .nav-link{
  color: #fff;
}
header .nav .nav-link:hover{
  color: #cccccc;
}
/* end header */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.login-background {
  background-image: url("assets/notebook2.jpg");
  background-size: cover;
  background-position: center right;
}
.full-height-section {
  height: calc(100vh - 128px);
}
.border-left-yellow {
  border-left: 1px solid #cecece;
}
.min-full-height-section {
  min-height: calc(100vh - 128px);
}
.bg-dark-gray {
  background: #55595c;
}
.article-thumbnail {
  font-size: 60px;
}
.hero-background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background: url("/assets/blockchain-background.jpeg");
  background-size: cover;
  background-position: center center;
}
hr.hero-divider {
  background-color: #ffc107;
  height: 2px;
}
#particles-js canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/* article - card */
.article-card h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}
.article-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
}
/* category */
.category-container div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #000000;
  position: relative;
  margin-left: -10px;
  background: #fff;
}
.category-container div span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: Amiri, Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Amiri, Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 260px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 260px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
   * Footer
   */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* badges */
.badge {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 0;
}
.badge-text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 2;
}
.badge-title {
  display: block;
  font-size: 20px;
  white-space: normal;
}
.badge .particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
}
.badge:hover {
  transform: scale(1.1);
}

/* tests */

.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}
.options input{
    display: none;
}
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    /* background-color: #555; */
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #ffc107;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

/* review-article */
.step {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}



/* about us */
#about-us .card-header{
  padding-top: 1rem;
}
#about-us .card-footer{
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
    .middle-yellow-band{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 200px;
    }
}
/* end about us */

/* success page */
#success-page > .card{
  width: 600px;
}
.big-icon{
  font-size: 60px;
}
/* end success page */

/* test page */
.test-content-navigation{
  border: none;
  display: none;
}
.test-content-navigation.active{
  display: flex;
}
.test-content-navigation .nav-item .nav-link{
  border-radius: 0.375rem;
  border: 1px solid #ffc107;
  background: #ffc107;
  color: #000;
}
.test-content-navigation .nav-item .nav-link.back-nav-link{
  border: 1px solid #6c757d;
  background: #6c757d;
  color: #ffffff;
}
/* end test page */